@import './base.scss';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;

  @media (max-width: 1440px) {
    padding: 2rem 1.8rem;
  }
  @media (max-width: 1024px) {
    padding: 2rem 0;
  }
  @media (max-width: 920px) {
    padding: 2rem 1.8rem;
  }
}

.accent {
  font-weight: bold;
}
